@media (max-width: 1199px) {
    .bnr-content h1 {
        font-size: 40px;
        line-height: 50px;
    }

    p {
        font-size: 16px !important;
    }

    .section__heading h2 {
        font-size: 28px;
    }

    .section__heading ul li {
        font-size: 16px;
        line-height: 28px;

    }

    .secure {
        padding: 40px 0;
    }

    .spin-with-the {
        padding: 40px 0;
    }

    .section__heading {
        margin-bottom: 40px;
    }

    .earn-stripes ul li {
        font-size: 16px;

    }

    .contact-us-innr h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .newsletter-content h2 {
        font-size: 28px;
    }

    .section-title {
        font-size: 28px;

    }

    .secure-text h2 {
        font-size: 28px;
    }

    .bigger-text h2 {
        font-size: 28px;
    }

    .play-anywhere-content h2 {
        font-size: 28px;
    }

    ul.list-unstyled li a {
        font-size: 16px;
    }

    .about-mobispins-text h3 {
        font-size: 28px;

    }

    .about-sec h2 {
        font-size: 28px;
    }
}

@media (max-width: 991px) {
    .menu-list {
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background: #000;
        height: 100vh;
        overflow-x: hidden;
        transition: width 0.3s ease;
        z-index: 9999;
        padding-top: 60px;
        max-width: 300px;
        align-items: flex-start;
    }

    .menu-list.open {
        width: 100%;
        transition: width 0.3s ease;
    }

    .menu-list ul {
        flex-direction: column;
        padding-left: 20px;
        gap: 20px;
    }

    .menu-icon span {
        font-size: 26px;
        font-weight: 400;
        color: #fff;
    }
    span.menu-close i {
        color: #fff;
    }
    span.menu-close {
        padding: 6px 6px;
        display: block;
        border-radius: 6px;
        width: 45px;
        height: 45px;
        text-align: center;
        box-shadow: 0 0 25px rgb(0 0 0 / .1);
        line-height: 32px;
        background: #21C4D3;
        color: #fff;
        position: absolute;
        right: 7px;
        top: 5px;
        font-size: 18px;
    }

    .bonanaza-video iframe {
        height: 300px;

    }

    .menu-icon {
        display: block;
    }

    .bottom-ft {
        flex-direction: column;
        gap: 10px;
    }

    .about-grid .row .col-lg-4 {
        margin-bottom: 30px;
    }

    .inner-bnr {
        height: 400px;

    }

    .about-mobispins-inner .row {
        flex-direction: column-reverse;
    }

    .about-mobispins-text {
        margin-top: 30px;
    }

    .bonanaza-inner h2 {

        font-size: 1.25rem;

    }

    .about-mobispins {
        padding: 40px 0;
    }
}

@media (max-width: 767px) {
    .games-outer-box img {
        height: 285px;
    }

    .logo img {
        max-width: 85px;
    }

    .bnr-content h1 {
        font-size: 30px;
        line-height: 40px;
    }
}